@import 'variables';
@import 'extendables';
@import 'transitions';


.about {
  background-color: $app-white;

  h3 {
    border-color: $app-blue;
    color: $app-blue;
    text-shadow: 1px 1px 1px black;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    padding-top: 0;

    li {
      margin: 0 0 1rem 0;
    }
  }

  &__bio {
    flex: 1;
    margin-left: auto;
  }

  &__content {
    width: 80%;
  }

  &__mantra {
    font-style: italic;
    text-align: center;
  }

  &__me {
    @extend .flex-container;
  }

  &__picture {
    padding: 1.5rem 2rem 2rem 0;

    img {
      height: auto;
      width: 100%;
    }
  }  

  &--stagger-in-p {
    p {
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          animation: slide-in-left #{$i * .25}s ease-in;
        }
      }
    }
  }
}
