@import 'variables';
@import 'extendables';
@import 'transitions';
@import 'common';


* {
  box-sizing: border-box;
}

// Set root font-size for rem's
html {
  font-size: 18px;
  font-family: $app-font-family;
}

// Override default webkit margins
body, p, h1, h2, h3, h4, ul {
  margin: 0;
}

h1 { font-size: 6rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.25rem; }

section {
  @extend .flex-container;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 100vh;
  padding: 2rem;
  width: 100vw;
}

ul {
  padding: 1.25rem 0 0 1.25rem;

  li {
    margin: 1rem 0;
  }
}

a {
  color: $app-blue;
}

#app {
  @extend .flex-container;
  flex-flow: column wrap;
}

.dive {
  background: url('../assets/img/dive.jpg') no-repeat center center fixed;
  background-size: cover;
}


@media (max-width: 1028px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .tech__item {
    justify-content: flex-start;
  }

  .tech__sprites {
    display: none;
  }
}
