@import 'variables';
@import 'extendables';
@import 'transitions';
@import 'common';


* {
  box-sizing: border-box;
}

// Set root font-size for rem's
html {
  font-size: 18px;
  font-family: $app-font-family;
}

// Override default webkit margins
body, p, h1, h2, h3, h4, ul {
  margin: 0;
}

h1 {
  font-size: 6rem;
  pointer-events: none;
}
h2 {
  font-size: 3rem;
  pointer-events: none;
}
h3 {
  font-size: 2rem;
  pointer-events: none;
}
h4 {
  font-size: 1.25rem;
  pointer-events: none;
}

section {
  @extend .flex-container;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 100vh;
  padding: 2rem;
  width: 100%;
}

ul {
  padding: 1.25rem 0 0 1.25rem;

  li {
    margin: 1rem 0;
  }
}

a {
  color: $app-blue;
}

#app {
  @extend .flex-container;
  flex-flow: column wrap;
  width: 100vw;
  max-width: 100%;
}

.dive {
  background: url('../assets/img/dive.jpg') no-repeat center center fixed;
  background-size: cover;
}

@mixin hide-sprites() {
  .tech__item {
    justify-content: flex-start;
    float: left;
    padding-right: 2rem;
    width: 50%;
  }

  .tech__sprites {
    display: none;
  }
}

// tablets, anything smaller than a laptop screen
@media only screen and (max-width: 1024px) {
  html {
    font-size: 13px;
  }
}

// landscape phones
@media (max-width: 767px) {
  @include hide-sprites();

  html {
    font-size: 9px;
  }

  .display, .hide-when-mobile, {
    display: none;
  }
}

// portrait phones
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .about__me {
    flex-flow: column wrap;
  }
}

// sprites can't be resized from sprite sheet, so set a height break point.
@media (max-height: 650px) {
  @include hide-sprites();
}
