$app-font-family: 'Trebuchet MS', sans-serif;

@import 'extendables';


* {
  box-sizing: border-box;
}

// Set root font-size for rem's
html {
  font-size: 18px;
  font-family: $app-font-family;
}

// Override default webkit margins
body, p, h1, h2 {
  margin: 0;
}

h1 { font-size: 6rem; }
h2 { font-size: 3rem; }

section {
  @extend .flex-container;
  height: 100vh;
  width: 100vw;

  div {
    @extend .flex-container;
  }
}


@media (max-width: 1028px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
