.deep-dive {
  @extend .flex-container;
  background-color: #000026;
  background-size: cover;
  position: relative;

  &--3d {
    backface-visibility: hidden;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    width: 100%;
  }

  &__particles {
    @extend .deep-dive--3d;
    left: -2%;
    list-style: none;
    overflow: hidden;
    padding: 0;
    pointer-events: none;

    li {
      @extend .deep-dive--3d;
      display: block;
      left: 0;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__large-particles img {
    animation: orbit 30s linear infinite;
  }

  &__med-particles img {
    animation: orbit 60s linear infinite;
  }

  &__small-particles img {
    animation: orbit 40s reverse infinite;
  }
}
