.experience {
  background-color: $app-blue;

  h3 {
    color: $app-white;
    text-shadow: 1px 1px 1px black;
  }

  &__companies {
    width: 80%;
  }

  &__company {
    margin: 0.5rem 0;
  }

  &__duration {
    margin-left: auto;
    font-style: italic;
  }

  &__info {
    @extend .flex-container;
  }

  &__title {
    align-self: flex-start;
  }
}
