@import 'extendables';


.experience {
  background-color: #EFD75B;

  h3 {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__companies {
    width: 80%;
  }

  &__company {
    margin: 0.5rem 0;
  }

  &__duration {
    margin-left: auto;
    font-style: italic;
  }

  &__info {
    @extend .flex-container;
  }

  &__title {
    align-self: flex-start;
  }
}
