.flex-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.clearfix {
  height: 100%;

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

.hidden {
  visibility: hidden;
}
