@mixin stitches-sprite($x: 0, $y: 0, $width: 0, $height: 0) {
  background-position: $x $y;
  height: $height;
  width: $width;
}

.sprite {
  background-image: url('../assets/img/spritesheet.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 5px;

  &--babel {
    @include stitches-sprite(-1px, -1px, 64px, 64px);
  }

  &--backbone {
    @include stitches-sprite(-67px, -1px, 52px, 64px);
  }

  &--browserify {
    @include stitches-sprite(-121px, -1px, 57px, 64px);
  }

  &--css3 {
    @include stitches-sprite(-180px, -1px, 48px, 64px);
  }

  &--django {
    @include stitches-sprite(-1px, -67px, 141px, 64px);
  }

  &--grunt {
    @include stitches-sprite(-230px, -1px, 64px, 64px);
  }

  &--gulp {
    @include stitches-sprite(-144px, -67px, 64px, 64px);
  }

  &--html5 {
    @include stitches-sprite(-210px, -67px, 64px, 64px);
  }

  &--jasmine {
    @include stitches-sprite(-1px, -133px, 64px, 64px);
  }

  &--javascript {
    @include stitches-sprite(-67px, -133px, 64px, 64px);
  }

  &--jest {
    @include stitches-sprite(-133px, -133px, 128px, 64px);
  }

  &--karma {
    @include stitches-sprite(-263px, -133px, 64px, 64px);
  }

  &--less {
    @include stitches-sprite(-1px, -199px, 143px, 64px);
  }

  &--mocha {
    @include stitches-sprite(-146px, -199px, 64px, 64px);
  }

  &--python {
    @include stitches-sprite(-296px, -1px, 189px, 64px);
  }

  &--rails {
    @include stitches-sprite(-276px, -67px, 49px, 64px);
  }

  &--react {
    @include stitches-sprite(-327px, -67px, 64px, 64px);
  }

  &--ruby {
    @include stitches-sprite(-393px, -67px, 64px, 64px);
  }

  &--sass {
    @include stitches-sprite(-329px, -133px, 85px, 64px);
  }

  &--webpack {
    @include stitches-sprite(-416px, -133px, 64px, 64px);
  }
}
