@import 'variables';
@import 'extendables';
@import 'transitions';


.tech {
  background-color: $app-yellow;

  &--section-colors {
    color: $app-white;
    border-color: $app-white;
    text-shadow: 1px 1px 1px black;
  }

  h3 {
    @extend .tech--section-colors;
  }

  &__category {
    align-self: flex-start;
  }

  &__item {
    @extend .flex-container;
  }

  &__content {
    width: 80%;
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0;

    li {
      height: 64px;
      margin: 2rem 0;
    }
  }

  &__sprites {
    margin-left: auto;
  }

  &__list-title {
    @extend .tech--section-colors;
    border-bottom: 1px solid;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  .animation--stagger-in {
    li {
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          .tech__category {
            animation: slide-in-right #{$i * .25}s ease-in;
          }
          .tech__sprites {
            animation: slide-in-left #{$i * .25}s ease-in;
          }
        }
      }
    }
  }
}
