@keyframes slide-up {
  0% {
   opacity: 0;
   transform: translateY(20%);
 }
 100% {
   opacity: 1;
   transform: translateY(0%);
 }
}
@keyframes slide-in-right {
  0% {
   opacity: 0;
   transform: translateX(-20%);
 }
 100% {
   opacity: 1;
   transform: translateX(0%);
 }
}
@keyframes slide-in-left {
  0% {
   opacity: 0;
   transform: translateX(20%);
 }
 100% {
   opacity: 1;
   transform: translateX(0%);
 }
}
@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(45px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(45px) rotate(-360deg);
  }
}

.slide-in-right {
  animation: slide-in-right 1.5s;
}
.slide-up {
  animation: slide-up 1.5s;
}
