
.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-file-pdf:before { content: '\e801'; } /* '' */
.icon-linkedin-squared:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\e804'; } /* '' */